table {
    border-collapse: collapse;
    line-height: .75;
}
  
table, th, td {
    border: 1px solid black;
}
a:link,a:visited{
    color: blue;
}
p{
    list-style: .8;
}
.solidrepublican{
    background-color: #fc1703;;
}
.soliddemocrat{
    background-color: #5493ff;
}
.leandemocrat{
    background-color: #B0CEFF;
}
.leanrepublican{
    background-color: #ff8a8a;
}
.even{
    background-color: #ded8d1;
}